<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Employee</title>
</head>
<body>
	<form th:action="@{/saveEmployee}" th:object="${employee}" method="post">
		<input type="hidden" th:field="*{empId}">
		<table border="1" align="center" width="50%">
			<caption>Add Employee Details</caption>
			<tr>
				<td>Enter Employee Name: </td>
				<td><input type="text" th:field="*{empName}"/></td>
			</tr>
			<tr>
				<td>Enter Employee Department: </td>
				<td><input type="text" th:field="*{empDepartment}"/></td>
			</tr>
			<tr>
				<td>Enter Employee Designation: </td>
				<td><input type="text" th:field="*{empDesignation}"/></td>
			</tr>
			<tr>
				<td>Enter Employee Salary: </td>
				<td><input type="text" th:field="*{empSalary}"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Save"></td>
			</tr>
		</table>
	</form>
</body>
</html>